# W2-Sharks-Clean-Project

### Importación y carga de Datos

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')  # para quitar warnings
pd.set_option('display.max_columns', None) # muestra todas las columnas del df.head()
#pd.set_option('display.max_rows', None) # muestra todas las columnas del df.head()
data=pd.read_csv('attacks.csv',encoding='windows-1252')

### Cambiar nombre de columnas

In [2]:
data.columns=[c.replace(' ', '_') for c in data.columns]
data.columns=[c.replace('.', '_') for c in data.columns]
data.columns=[c.replace(':', '') for c in data.columns]
data.columns=[c.replace('/', 'O') for c in data.columns]
data.columns=[c.replace('(', '') for c in data.columns]
data.columns=[c.replace(')', '') for c in data.columns]

### Exploración

In [3]:
data_original = data.shape
data.shape

(25723, 24)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex_                    5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal_YON               5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species_                3464 non-null   object
 15  Investigator_or_Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case_Number_1           6302 non-null   object
 20  Case_Number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
null_col=data.isnull().sum()
null_col[null_col>0]

Case_Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex_                      19986
Age                       22252
Injury                    19449
Fatal_YON                 19960
Time                      22775
Species_                  22259
Investigator_or_Source    19438
pdf                       19421
href_formula              19422
href                      19421
Case_Number_1             19421
Case_Number_2             19421
original_order            19414
Unnamed_22                25722
Unnamed_23                25721
dtype: int64

### Limpieza de Datos

In [6]:
#¿Qué filas tienen valores nulos y cuántos?
data.isnull().sum(axis=1)

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

In [7]:
#Eliminar las filas con más de 10 valores nulos y sobreescribir el dataframe 
data = data.drop(data[data.isnull().sum(axis=1) > 10].index)

In [8]:
data.shape

(6302, 24)

In [9]:
#Si no hay valores en Fatal_YON, elimina la fila.
null_fatal=data[data['Fatal_YON'].isna()].index

In [10]:
data.drop(index=null_fatal,inplace=True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5763 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5762 non-null   object
 1   Date                    5763 non-null   object
 2   Year                    5762 non-null   float64
 3   Type                    5760 non-null   object
 4   Country                 5718 non-null   object
 5   Area                    5359 non-null   object
 6   Location                5280 non-null   object
 7   Activity                5344 non-null   object
 8   Name                    5610 non-null   object
 9   Sex_                    5276 non-null   object
 10  Age                     3244 non-null   object
 11  Injury                  5742 non-null   object
 12  Fatal_YON               5763 non-null   object
 13  Time                    2802 non-null   object
 14  Species_                2948 non-null   object
 15  Investigator_or_Source  5751 non-null   object
 16  pdf                     5763 non-null   object
 17  href_formula            5762 non-null   object
 18  href                    5763 non-null   object
 19  Case_Number_1           5763 non-null   object
 20  Case_Number_2           5763 non-null   object
 21  original_order          5763 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.1+ MB

In [12]:
# Si no hay Country, Area y Location, elimina la fila.
null_loc=data[(data['Country'].isna())&(data['Area'].isna())&(data['Location'].isna())].index

In [13]:
data.drop(index=null_loc,inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5737 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5736 non-null   object
 1   Date                    5737 non-null   object
 2   Year                    5736 non-null   float64
 3   Type                    5734 non-null   object
 4   Country                 5718 non-null   object
 5   Area                    5359 non-null   object
 6   Location                5280 non-null   object
 7   Activity                5325 non-null   object
 8   Name                    5584 non-null   object
 9   Sex_                    5252 non-null   object
 10  Age                     3239 non-null   object
 11  Injury                  5718 non-null   object
 12  Fatal_YON               5737 non-null   object
 13  Time                    2799 non-null   object
 14  Species_                2943 non-null   object
 15  Investigator_or_Source  5725 non-null   object
 16  pdf                     5737 non-null   object
 17  href_formula            5736 non-null   object
 18  href                    5737 non-null   object
 19  Case_Number_1           5737 non-null   object
 20  Case_Number_2           5737 non-null   object
 21  original_order          5737 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.1+ MB

In [15]:
# Si no hay Sex_, elimina la fila.
null_Sex=data[(data['Sex_'].isna())].index

In [16]:
data.drop(index=null_Sex,inplace=True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5252 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5251 non-null   object
 1   Date                    5252 non-null   object
 2   Year                    5251 non-null   float64
 3   Type                    5249 non-null   object
 4   Country                 5234 non-null   object
 5   Area                    4925 non-null   object
 6   Location                4849 non-null   object
 7   Activity                4954 non-null   object
 8   Name                    5199 non-null   object
 9   Sex_                    5252 non-null   object
 10  Age                     3204 non-null   object
 11  Injury                  5242 non-null   object
 12  Fatal_YON               5252 non-null   object
 13  Time                    2708 non-null   object
 14  Species_                2701 non-null   object
 15  Investigator_or_Source  5241 non-null   object
 16  pdf                     5252 non-null   object
 17  href_formula            5251 non-null   object
 18  href                    5252 non-null   object
 19  Case_Number_1           5252 non-null   object
 20  Case_Number_2           5252 non-null   object
 21  original_order          5252 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.0+ MB

In [18]:
#Cambiar valor no nulo por 0 en Unnamed_22
data[data['Unnamed_22'].notna()==True]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,31,"No injury, shark bumped surfboard",N,16h00,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN

In [19]:
#Cambiar valor y valores nulos por 0
data.Unnamed_22[1478]=0
data.Unnamed_22.fillna(0,inplace=True)

In [20]:
#Cambiar valor no nulo por 0 en Unnamed_23
data[data['Unnamed_23'].notna()==True]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,NaN,"Buttock bitten, tissue removed",N,NaN,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,0,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,NaN,Leg bitten by netted shark PROVOKED INCIDENT,N,NaN,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,0,change filename

In [21]:
#Cambiar valor y valores nulos por 0
data.Unnamed_23[4415]=0
data.Unnamed_23[5840]=0
data.Unnamed_23.fillna(0,inplace=True)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5252 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5251 non-null   object
 1   Date                    5252 non-null   object
 2   Year                    5251 non-null   float64
 3   Type                    5249 non-null   object
 4   Country                 5234 non-null   object
 5   Area                    4925 non-null   object
 6   Location                4849 non-null   object
 7   Activity                4954 non-null   object
 8   Name                    5199 non-null   object
 9   Sex_                    5252 non-null   object
 10  Age                     3204 non-null   object
 11  Injury                  5242 non-null   object
 12  Fatal_YON               5252 non-null   object
 13  Time                    2708 non-null   object
 14  Species_                2701 non-null   object
 15  Investigator_or_Source  5241 non-null   object
 16  pdf                     5252 non-null   object
 17  href_formula            5251 non-null   object
 18  href                    5252 non-null   object
 19  Case_Number_1           5252 non-null   object
 20  Case_Number_2           5252 non-null   object
 21  original_order          5252 non-null   float64
 22  Unnamed_22              5252 non-null   int64
 23  Unnamed_23              5252 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 1.1+ MB

In [23]:
#Evaluar que filas no tienen año
data[data['Year']==0]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,NaN,"FATAL, shark/s bit him in two",Y,NaN,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,0,0
6178,0000.0336,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,NaN,"FATAL, shark ""bit off all lower parts of him u...",Y,NaN,NaN,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0336,0000.0336,125.0,0,0
6179,0000.0493,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,NaN,Shipwrecked Persian Fleet,males,M,NaN,Herodotus tells of sharks attacking men in the...,Y,NaN,NaN,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0493,0000.0493,124.0,0,0
6180,0000.0725,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,NaN,Depicts shipwrecked sailors attacked by a sha...,Y,NaN,NaN,"V.M. Coppleson (1958), p.262, et al",725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0725,0000.0725,123.0,0,0
6181,ND-0154,Before 1939,0.0,Unprovoked,CANADA,NaN,Grand Banks,Fishing,Joe Folsom,M,NaN,Arm bitten,N,NaN,NaN,"C.E.Russell, pp. 310-311",ND-0154-Folsom.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0154,ND-0154,122.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,0,0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,0,0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,0,0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,0,0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,0,0

In [24]:
#Los datos no tienen exactitud, los quitamos
no_year=data[data['Year']==0].index
data.drop(index=no_year,inplace=True)

In [25]:
data.isnull().sum()

Case_Number                  1
Date                         0
Year                         1
Type                         3
Country                     16
Area                       304
Location                   373
Activity                   281
Name                        52
Sex_                         0
Age                       1946
Injury                       9
Fatal_YON                    0
Time                      2435
Species_                  2468
Investigator_or_Source      11
pdf                          0
href_formula                 1
href                         0
Case_Number_1                0
Case_Number_2                0
original_order               0
Unnamed_22                   0
Unnamed_23                   0
dtype: int64

In [26]:
data[data['Location'].isnull()==True]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
56,2017.12.09,09-Dec-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Snorkeling,Sarah Illig-Carroll,F,25,Minor injury to arm,N,NaN,Nurse shark. 5',"Daily Star, 12/11/2017",2017.12.09-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.09,2017.12.09,6247.0,0,0
101,2017.08.18,18-Aug-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,male,M,NaN,Hand injured,N,15h00,5' shark,"CBS12, 8/18/2017",2017.08.18-JupiterDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.18,2017.08.18,6202.0,0,0
110,2017.07.26.R,Reported 26-Jul-2017,2017.0,Unprovoked,BAHAMAS,40 miles off Grand Bahama Island,NaN,Spearfishing,Michael Massey,M,NaN,Severe lacerations to left hand,N,NaN,NaN,"RevistaJaraysedal.es, 7/26/2017",2017.07.26.R-Massey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.26.R,2017.07.26.R,6193.0,0,0
132,2017.06.14.R,Reported 14-Jun-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Feeding sharks,Carly,F,NaN,Fingernail pulled off,N,NaN,NaN,"AOL.UK, 6/14/2017",2017.06.14.R-Carly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.14.R,2017.06.14.R,6171.0,0,0
171,2017.03.09,Reported 09-Mar-2017,2017.0,Unprovoked,BAHAMAS,Great Exuma,NaN,Washing hands,George Keywood,M,58,Abrasions & lacerations to left leg and hand,N,NaN,Lemon shark,"Kent Live, 3/9/2017",2017.03.09-Keywood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.03.09,2017.03.09,6132.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6170,1580.01.10.R,Letter dated 10-Jan-1580,1580.0,Unprovoked,Between PORTUGAL & INDIA,NaN,NaN,Man fell overboard from ship. Those on board t...,male,M,NaN,"FATAL. ""Shark tore him to pieces.",Y,NaN,NaN,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,0,0
6172,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,NaN,NaN,UNKNOWN,NaN,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,0,0
6173,1543.00.00,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,NaN,Pearl diving,Indian slave,M,NaN,FATAL,Y,NaN,NaN,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,0,0
6174,0500.00.00,Circa 500 A.D.,500.0,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,Foot severed,N,NaN,NaN,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,129.0,0,0
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,0,0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5137 entries, 0 to 6176
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5136 non-null   object
 1   Date                    5137 non-null   object
 2   Year                    5136 non-null   float64
 3   Type                    5134 non-null   object
 4   Country                 5121 non-null   object
 5   Area                    4833 non-null   object
 6   Location                4764 non-null   object
 7   Activity                4856 non-null   object
 8   Name                    5085 non-null   object
 9   Sex_                    5137 non-null   object
 10  Age                     3191 non-null   object
 11  Injury                  5128 non-null   object
 12  Fatal_YON               5137 non-null   object
 13  Time                    2702 non-null   object
 14  Species_                2669 non-null   object
 15  Investigator_or_Source  5126 non-null   object
 16  pdf                     5137 non-null   object
 17  href_formula            5136 non-null   object
 18  href                    5137 non-null   object
 19  Case_Number_1           5137 non-null   object
 20  Case_Number_2           5137 non-null   object
 21  original_order          5137 non-null   float64
 22  Unnamed_22              5137 non-null   int64
 23  Unnamed_23              5137 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 1003.3+ KB

In [28]:
data[data['Time'].isnull()==True]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris …,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,0,0
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,0,0
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,NaN,NaN,"C. Creswell, GSAF",2018.05.21-deBoer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.21,2018.05.21,6292.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,NaN,NaN,UNKNOWN,NaN,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,0,0
6173,1543.00.00,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,NaN,Pearl diving,Indian slave,M,NaN,FATAL,Y,NaN,NaN,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,0,0
6174,0500.00.00,Circa 500 A.D.,500.0,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,Foot severed,N,NaN,NaN,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,129.0,0,0
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,0,0
6176,0005.00.00,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,NaN,male,M,NaN,Aboriginal rock carving depicts man being atta...,N,NaN,NaN,Waverly Library,0005.00.00-AustralianAboriginal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0005.00.00,0005.00.00,127.0,0,0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5137 entries, 0 to 6176
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5136 non-null   object
 1   Date                    5137 non-null   object
 2   Year                    5136 non-null   float64
 3   Type                    5134 non-null   object
 4   Country                 5121 non-null   object
 5   Area                    4833 non-null   object
 6   Location                4764 non-null   object
 7   Activity                4856 non-null   object
 8   Name                    5085 non-null   object
 9   Sex_                    5137 non-null   object
 10  Age                     3191 non-null   object
 11  Injury                  5128 non-null   object
 12  Fatal_YON               5137 non-null   object
 13  Time                    2702 non-null   object
 14  Species_                2669 non-null   object
 15  Investigator_or_Source  5126 non-null   object
 16  pdf                     5137 non-null   object
 17  href_formula            5136 non-null   object
 18  href                    5137 non-null   object
 19  Case_Number_1           5137 non-null   object
 20  Case_Number_2           5137 non-null   object
 21  original_order          5137 non-null   float64
 22  Unnamed_22              5137 non-null   int64
 23  Unnamed_23              5137 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 1003.3+ KB

In [30]:
data.Date

0          25-Jun-2018
1          18-Jun-2018
2          09-Jun-2018
3          08-Jun-2018
4          04-Jun-2018
             ...
6172          Ca. 1554
6173          Ca. 1543
6174    Circa 500 A.D.
6175          77  A.D.
6176        Ca. 5 A.D.
Name: Date, Length: 5137, dtype: object

### Pruebas

In [31]:
#Eliminar los nulos de las columna con más valores nulos
null_Species=data[data['Species_'].isnull()==True].index
data.drop(index=null_Species,inplace=True)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2669 entries, 0 to 6172
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2669 non-null   object
 1   Date                    2669 non-null   object
 2   Year                    2669 non-null   float64
 3   Type                    2669 non-null   object
 4   Country                 2667 non-null   object
 5   Area                    2583 non-null   object
 6   Location                2575 non-null   object
 7   Activity                2596 non-null   object
 8   Name                    2655 non-null   object
 9   Sex_                    2669 non-null   object
 10  Age                     1951 non-null   object
 11  Injury                  2667 non-null   object
 12  Fatal_YON               2669 non-null   object
 13  Time                    1703 non-null   object
 14  Species_                2669 non-null   object
 15  Investigator_or_Source  2664 non-null   object
 16  pdf                     2669 non-null   object
 17  href_formula            2669 non-null   object
 18  href                    2669 non-null   object
 19  Case_Number_1           2669 non-null   object
 20  Case_Number_2           2669 non-null   object
 21  original_order          2669 non-null   float64
 22  Unnamed_22              2669 non-null   int64
 23  Unnamed_23              2669 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 521.3+ KB

In [33]:
data[data['Fatal_YON']=='UNKNOWN']

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
1270,2008.04.20.a,20-Apr-2008,2008.0,Unprovoked,AUSTRALIA,New South Wales,Crescent Head,NaN,Jamie Adlington,M,NaN,NaN,UNKNOWN,NaN,"Tiger shark, 2.3m","T. Peake, GSAF",2008.04.20.a-Adlington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.20.a,2008.04.20.a,5033.0,0,0
2650,1989.12.03,03- Dec-1989,1989.0,Unprovoked,AUSTRALIA,Northern Territory,Gove Peninsula near Darwin,NaN,Ryan Johnson,M,17,"No details, ""recovering in Darwin Hospital""",UNKNOWN,NaN,"Tiger shark, 2m","Courier-Mail, 12/6/1989",1989.12.03-Johnson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1989.12.03,1989.12.03,3653.0,0,0
2661,1989.10.01,01-Oct-1989,1989.0,Unprovoked,AUSTRALIA,Victoria,"Surfers Point, Phillip Island",Surfing,John Benson,M,NaN,No details,UNKNOWN,NaN,White shark,"J. West, ASAF",1989.10.01-Benson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1989.10.01,1989.10.01,3642.0,0,0
2996,1982.00.00.c,1982,1982.0,Boat,ITALY,Tyrrhenian Sea,"Lacona, Isola d'Elba",Boat,Giovanni Vuoso,M,NaN,No details,UNKNOWN,NaN,6 m [20'] white shark,"A. De Maddalena; Perfetti (1989), M. Zuffa (pe...",1982.00.00.c-boat-Vuoso.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1982.00.00.c,1982.00.00.c,3307.0,0,0
3396,1970.04.00.a,Apr-1970,1970.0,Unprovoked,SOLOMON ISLANDS,NaN,NaN,Swimming,David Vota,M,NaN,No details,UNKNOWN,NaN,Wobbegong shark,H.D. Baldridge (1994) SAF Case #1655,1970.04.00.a-NV-Vota.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.04.00.a,1970.04.00.a,2907.0,0,0
3411,1970.00.00.e,1970,1970.0,Unprovoked,CROATIA,Zadar County,Novigrad,Spearfishing,Mr. Jurincic,M,NaN,No details,UNKNOWN,NaN,White shark,A. De Maddalena; A. Mojetta (pers. Comm.),1970.00.00.e-Jurincic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.00.00.e,1970.00.00.e,2892.0,0,0
3794,1962.08.31.R,Reported 31-Aug-1962,1962.0,Provoked,ISRAEL,Sharon,2 km north of Apollonia,Fishing,fisherman,M,NaN,"Details unknown, possibly a PROVOKED INCIDENT",UNKNOWN,NaN,2.5 m [8.25'] shark,"C. Moore, GSAF",1962.08.31.R-Israel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.08.31.R,1962.08.31.R,2509.0,0,0
5270,1919.03.16,16-Mar-1919,1919.0,Invalid,AUSTRALIA,New South Wales,Sydney Harbor,Cutter capsized,5 cadets from the Naval training ship Tingara,M,NaN,Shark involvement not confirmed,UNKNOWN,Late afternon,Shark involvement prior to death unconfirmed,"The Mercury, 3/18/1919",1919.03.16-Cadets.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.03.16,1919.03.16,1033.0,0,0
5409,1910.00.00.a,1910,1910.0,Unprovoked,PHILIPPINES,Luzon Island,"Polinao Point, Manila",Swimming,Lieut. James H. Stewart,M,NaN,"Calf removed, not known if he survived",UNKNOWN,NaN,6 m [20'] shark,"V.M. Coppleson (1958), p.264",1910.00.00.a-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1910.00.00.a,1910.00.00.a,894.0,0,0
5555,1900.09.13,13-Sep-1900,1900.0,Unprovoked,USA,Rhode Island,Coddington Cove,Diving,George Brown,M,NaN,No injury,UNKNOWN,NaN,,"NY Times, 9/14/1900",1900.09.13-Brown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.09.13,1900.09.13,748.0,0,0
5653,1894.08.21,21-Aug-1894,1894.0,Unprovoked,USA,New York,"Woolsey's Point, East River",Swimming,Catherine Beach,F,NaN,No injury,UNKNOWN,NaN,"Shovelnose shark, 5'","NY Times, 8/22/1894",1894.08.21-CatherineBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1894.08.21,1894.08.21,650.0,0,0
6172,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,NaN,NaN,UNKNOWN,NaN,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,0,0

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2669 entries, 0 to 6172
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2669 non-null   object
 1   Date                    2669 non-null   object
 2   Year                    2669 non-null   float64
 3   Type                    2669 non-null   object
 4   Country                 2667 non-null   object
 5   Area                    2583 non-null   object
 6   Location                2575 non-null   object
 7   Activity                2596 non-null   object
 8   Name                    2655 non-null   object
 9   Sex_                    2669 non-null   object
 10  Age                     1951 non-null   object
 11  Injury                  2667 non-null   object
 12  Fatal_YON               2669 non-null   object
 13  Time                    1703 non-null   object
 14  Species_                2669 non-null   object
 15  Investigator_or_Source  2664 non-null   object
 16  pdf                     2669 non-null   object
 17  href_formula            2669 non-null   object
 18  href                    2669 non-null   object
 19  Case_Number_1           2669 non-null   object
 20  Case_Number_2           2669 non-null   object
 21  original_order          2669 non-null   float64
 22  Unnamed_22              2669 non-null   int64
 23  Unnamed_23              2669 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 521.3+ KB

In [35]:
#Eliminar los nulos de las columna con más valores nulos
#null_time=data[data['Time'].isnull()==True].index
#data.drop(index=null_time,inplace=True)

In [36]:
#data.info()

In [37]:
data.Age.fillna('unknown',inplace=True)

In [38]:
data.Age.unique()

array(['57', 'unknown', '18', '52', '15', '32', '21', '34', '30', '60',
       '33', '29', '54', '56', '12', '19', '25', '10', '69', '38', '55',
       '35', '46', '45', '14', '40s', '28', '20', '24', '26', '49', '22',
       '7', '31', '40', '13', '37', '50', '48', '17', '58', '65', '73',
       '36', '60s', '51', '43', '61', '59', '42', '6', '23', '39', '9',
       '41', '11', '71', '44', '27', '62', '68', '16', '47', '63', '70',
       '18 months', '53', '20s', '30s', 'Teen', '66', '74', '3', '64',
       '28 & 26', '8', 'teen', '18 or 20', '46 & 34', '77', '84', '\xa0 ',
       ' ', '30 or 36', '6½', '21 & ?', '5', ' 30', ' 28', '20?', "60's",
       '32 & 30', '>50', 'adult', '9 months', '25 to 35', '23 & 26',
       '33 & 37', '30 & 32', '17 & 35', '13 or 18', ' 43', '"young"',
       '7 or 8', 'Both 11', '9 or 10'], dtype=object)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2669 entries, 0 to 6172
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2669 non-null   object
 1   Date                    2669 non-null   object
 2   Year                    2669 non-null   float64
 3   Type                    2669 non-null   object
 4   Country                 2667 non-null   object
 5   Area                    2583 non-null   object
 6   Location                2575 non-null   object
 7   Activity                2596 non-null   object
 8   Name                    2655 non-null   object
 9   Sex_                    2669 non-null   object
 10  Age                     2669 non-null   object
 11  Injury                  2667 non-null   object
 12  Fatal_YON               2669 non-null   object
 13  Time                    1703 non-null   object
 14  Species_                2669 non-null   object
 15  Investigator_or_Source  2664 non-null   object
 16  pdf                     2669 non-null   object
 17  href_formula            2669 non-null   object
 18  href                    2669 non-null   object
 19  Case_Number_1           2669 non-null   object
 20  Case_Number_2           2669 non-null   object
 21  original_order          2669 non-null   float64
 22  Unnamed_22              2669 non-null   int64
 23  Unnamed_23              2669 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 521.3+ KB

### Limpiar Age

In [40]:
data.Age.unique()

array(['57', 'unknown', '18', '52', '15', '32', '21', '34', '30', '60',
       '33', '29', '54', '56', '12', '19', '25', '10', '69', '38', '55',
       '35', '46', '45', '14', '40s', '28', '20', '24', '26', '49', '22',
       '7', '31', '40', '13', '37', '50', '48', '17', '58', '65', '73',
       '36', '60s', '51', '43', '61', '59', '42', '6', '23', '39', '9',
       '41', '11', '71', '44', '27', '62', '68', '16', '47', '63', '70',
       '18 months', '53', '20s', '30s', 'Teen', '66', '74', '3', '64',
       '28 & 26', '8', 'teen', '18 or 20', '46 & 34', '77', '84', '\xa0 ',
       ' ', '30 or 36', '6½', '21 & ?', '5', ' 30', ' 28', '20?', "60's",
       '32 & 30', '>50', 'adult', '9 months', '25 to 35', '23 & 26',
       '33 & 37', '30 & 32', '17 & 35', '13 or 18', ' 43', '"young"',
       '7 or 8', 'Both 11', '9 or 10'], dtype=object)

In [41]:
data.Age.replace(['40s','60s','20s','18 or 20'],['45','65','25','19'],inplace=True)

In [42]:
data.Age.replace(['Teen','30s','36 & 26','\xa0 ',' ','30 or 36','6½','20?',"60's"],['15','30','30','unknown', 'unknown','33','6','20','65'],inplace=True)

In [43]:
data.Age.replace(['>50','9 & 12','30 & 32','50 & 30','13 or 18','MAKE LINE GREEN','7 or 8','9 or 10'],['unknown','10','31','40', '15','unknown','7','9'],inplace=True)

In [44]:
data.Age.unique()

array(['57', 'unknown', '18', '52', '15', '32', '21', '34', '30', '60',
       '33', '29', '54', '56', '12', '19', '25', '10', '69', '38', '55',
       '35', '46', '45', '14', '28', '20', '24', '26', '49', '22', '7',
       '31', '40', '13', '37', '50', '48', '17', '58', '65', '73', '36',
       '51', '43', '61', '59', '42', '6', '23', '39', '9', '41', '11',
       '71', '44', '27', '62', '68', '16', '47', '63', '70', '18 months',
       '53', '66', '74', '3', '64', '28 & 26', '8', 'teen', '46 & 34',
       '77', '84', '21 & ?', '5', ' 30', ' 28', '32 & 30', 'adult',
       '9 months', '25 to 35', '23 & 26', '33 & 37', '17 & 35', ' 43',
       '"young"', 'Both 11'], dtype=object)

In [45]:
data.Age.replace(['18 months','28 & 26','','teen','46 & 34','21 & ?','32 & 30','adult','9 months', '25 to 35','23 & 26'],['2','27','unknown','unknown','40', '21','31','unknown','1','30','24'],inplace=True)

In [46]:
data.Age.replace(['33 & 37','17 & 35','"young"','17 & 16','Both 11'],['35','23','unknown','16', '11'],inplace=True)

In [47]:
data.Age.unique()

array(['57', 'unknown', '18', '52', '15', '32', '21', '34', '30', '60',
       '33', '29', '54', '56', '12', '19', '25', '10', '69', '38', '55',
       '35', '46', '45', '14', '28', '20', '24', '26', '49', '22', '7',
       '31', '40', '13', '37', '50', '48', '17', '58', '65', '73', '36',
       '51', '43', '61', '59', '42', '6', '23', '39', '9', '41', '11',
       '71', '44', '27', '62', '68', '16', '47', '63', '70', '2', '53',
       '66', '74', '3', '64', '8', '77', '84', '5', ' 30', ' 28', '1',
       ' 43'], dtype=object)

In [48]:
null_Age=data[data['Age']=='unknown'].index

In [49]:
data.drop(index=null_Age,inplace=True)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1945 entries, 0 to 5969
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             1945 non-null   object
 1   Date                    1945 non-null   object
 2   Year                    1945 non-null   float64
 3   Type                    1945 non-null   object
 4   Country                 1945 non-null   object
 5   Area                    1907 non-null   object
 6   Location                1909 non-null   object
 7   Activity                1915 non-null   object
 8   Name                    1944 non-null   object
 9   Sex_                    1945 non-null   object
 10  Age                     1945 non-null   object
 11  Injury                  1945 non-null   object
 12  Fatal_YON               1945 non-null   object
 13  Time                    1462 non-null   object
 14  Species_                1945 non-null   object
 15  Investigator_or_Source  1942 non-null   object
 16  pdf                     1945 non-null   object
 17  href_formula            1945 non-null   object
 18  href                    1945 non-null   object
 19  Case_Number_1           1945 non-null   object
 20  Case_Number_2           1945 non-null   object
 21  original_order          1945 non-null   float64
 22  Unnamed_22              1945 non-null   int64
 23  Unnamed_23              1945 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 379.9+ KB

### Rellenar Time

In [51]:
data.Time.fillna(0,inplace=True)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1945 entries, 0 to 5969
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             1945 non-null   object
 1   Date                    1945 non-null   object
 2   Year                    1945 non-null   float64
 3   Type                    1945 non-null   object
 4   Country                 1945 non-null   object
 5   Area                    1907 non-null   object
 6   Location                1909 non-null   object
 7   Activity                1915 non-null   object
 8   Name                    1944 non-null   object
 9   Sex_                    1945 non-null   object
 10  Age                     1945 non-null   object
 11  Injury                  1945 non-null   object
 12  Fatal_YON               1945 non-null   object
 13  Time                    1945 non-null   object
 14  Species_                1945 non-null   object
 15  Investigator_or_Source  1942 non-null   object
 16  pdf                     1945 non-null   object
 17  href_formula            1945 non-null   object
 18  href                    1945 non-null   object
 19  Case_Number_1           1945 non-null   object
 20  Case_Number_2           1945 non-null   object
 21  original_order          1945 non-null   float64
 22  Unnamed_22              1945 non-null   int64
 23  Unnamed_23              1945 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 379.9+ KB

In [53]:
data.Time.unique()

array(['18h00', 'Late afternoon', 0, '17h00', 'Morning', '08h15', '10h40',
       '09h30', '21h50', '09h40', '15h00', '17h35', '15h30', '07h30',
       '19h00, Dusk', '16h00', '08h00', '13h45', '23h30', '09h00',
       'Afternoon', '18h30', '12h30', '18h45', '06h00', '10h30', '10h00',
       '13h30', '11h20', '07h45', '08h30', 'Shortly before 12h00',
       '12h00', '07h00', '02h00', '11h00', '9h00', '15h15', '14h30',
       '16h30', '11h30', 'After noon', '22h00', '16h20', '15h25', '17h30',
       '15h45', 'Morning ', '13h20', '10h45', '10h15', '18h15', '14h00',
       '13h50', '10h25', '16h45', '15h52', '06h15', '14h40', '19h00',
       '08h45', '12h10', '18h05', '12h25', '17h51', '16h12', '12h45',
       '10h50', '14h15', '13h00', '09h45', '11h45', '06h45', '05h00',
       '03h30', '06h30', '20h00', '16h40', '17h50', '18h15-18h30',
       '08h20', '20h30', '15h19', '15h55', '16h05', '14h10', '12h50',
       '11h15', '13h40', '13h24', '09h00 - 09h30', '0830', '11h40',
       '08h10', '15h56', '1600', '17h17', '09h05', '07h15', '14h20',
       '07h20', '19h28', '12h38', '15h50', '15h40', '05h45', '13h25',
       '13h26', '09h11', 'Evening', 'Midday', '17h45', 'Early afternoon',
       '18h20', '15h35', '10h55', '14h55', '08h50', '08h05', '10h35',
       '19h15', '14h45', '21h00', '15j45', '09h35', '10h27', '10h16',
       '13h15', '19h30', 'Before 07h00', '17h20', 'Dusk', '13h55',
       'Early morning', '18h50', '"Just before 11h00"', '11h115', '12h39',
       'Night', '11h50', '"Evening"', 'Just before sundown', '17h15',
       '12h05', '15h20', '16h10', '23h00', '06h10', '12h40', '16h15',
       '19h45', '07h08', '17h00 or 17h40', '11h05', '>08h00', '--',
       '12h55', '16h14', '17h11', '10h07', '13h53', '13h23',
       'Just after 12h00', '02h30', '08h40', '11h56', '14h35', ' ',
       'Early Morning', 'Shortly after midnight', '\xa0 ', '10h10',
       '09h00 -10h00', '20h45 (Sunset)', 'Sunset', 'Late morning', 'P.M.',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h35',
       '17h40', '11h25', '18h25', '10h28', '09h15', '20h15', '14h16',
       '09h55', '2 hours after Opperman', '11h10', '15h05', '09h30 ',
       '11h00 / 11h30', '07h19', '12h15', '11h06', '"Night"', '18h30?',
       '11h58', '18h12', '07h10', 'A.M.', '07h40', '12h33', '>06h45',
       '15h06', '16h35', 'Between 06h00 & 07h20', '16h55', '16h50',
       '05h40', 'X', '08h57', '06j00', '08h35', '04h00', '14h50', '10h20',
       'Mid-morning', '16h30 or 18h00', ' 14h00', 'Daytime', '06h50',
       '18h40', 'Dark', '10h00 / 11h00', '15h00 or 15h45', '03h00',
       '12h45 / 13h45', '14h00 - 15h00', '09h30 / 15h30', '08h00 / 09h30',
       '19h35', '10h30 or 13h30', '17h10', '16h23', '13h05',
       '"After dark"', '1500', 'After dusk', '18h10', 'Before 10h30'],
      dtype=object)